.gestionarusuarios {
    font-size: 3.51493848857645vh;
    text-align: center;
    height: 17.57469244288225vh;
    width: 87.87346221441125vh;
    margin-top: 23.725834797891036vh;
    margin-bottom: 3.51493848857645vh;
}

.opcionesdeusuario {
    font-size: 3.51493848857645vh;
    text-align: center;
    height: 17.57469244288225vh;
    width: 87.87346221441125vh;
}