@media screen and (max-width: 1920px) {
    .cartallamada {
        margin-top: 150px;
    }
}

@media screen and (max-width: 1280px) {
    .cartallamada {
        margin-top: 10px;
    }
}

textarea.textarea {
    white-space: pre-wrap;
}
