@media screen and (max-width: 2560px) {
    .crearcartallamada {
        font-size: 8.787346221441124vh;
        text-align: center;
        height: 52.72407732864675vh;
        width: 91vh;
        margin-top: 1.757469244288225vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 69.96770721205597vh;

    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 650px;
    }
}

@media screen and (max-width: 1920px) {
    .crearcartallamada {
        font-size: 8.787346221441124vh;
        text-align: center;
        height: 52.72407732864675vh;
        width: 123.78902045209904vh;
        margin-top: 1.757469244288225vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 52.72407732864675vh;

    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 52.72407732864675vh;
    }
}

@media screen and (max-width: 1280px) {
.crearcartallamada {
    font-size: 8.787346221441124vh;
    text-align: center;
    height: 52.72407732864675vh;
    width: 152.89982425307556vh;
    margin-top: 1.757469244288225vh;
    margin-bottom: 3.51493848857645vh;
}

.consultaexpediente {
    font-size: 3.51493848857645vh;
    text-align: center;
    height: 17.57469244288225vh;
    width: 52.72407732864675vh;

}

.consultaayuda {
    font-size: 3.51493848857645vh;
    text-align: center;
    height: 17.57469244288225vh;
    width: 52.72407732864675vh;
}
}
