@media screen and (max-width: 3840px) {
    .crearcartallamada {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 28.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .generargraficos {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 28.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 28.58557588805166vh;
    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 28.58557588805166vh;
    }
}

@media screen and (max-width: 2560px) {
    .crearcartallamada {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 28.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .generargraficos {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 45.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 45.58557588805166vh;
    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 45.58557588805166vh;
    }
}

@media screen and (max-width: 1920px) {
    .crearcartallamada {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 64.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .generargraficos {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 64.58557588805166vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 64.58557588805166vh;
    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 64.58557588805166vh;
    }
}

@media screen and (max-width: 1280px) {
    .crearcartallamada {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 87.87346221441125vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .generargraficos {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 87.87346221441125vh;
        margin-top: 23.725834797891036vh;
        margin-bottom: 3.51493848857645vh;
    }

    .consultaexpediente {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 87.87346221441125vh;
    }

    .consultaayuda {
        font-size: 3.51493848857645vh;
        text-align: center;
        height: 17.57469244288225vh;
        width: 87.87346221441125vh;
    }
}
